* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
}

