/*Login Styles*/
.Login_Container_Center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
  }
  
  .Login_Border {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 5px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    color: #368BC1;
    margin-bottom: 30px;
  }
  
  .Login_Users {
    position: relative;
    margin-bottom: 20px;
  }
  
  .Login_Users input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #368BC1;
    outline: none;
    background-color: #fff;
    color: black;
  }
  
  .Login_Users label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #368BC1;
    pointer-events: none;
    transition: 0.2s ease all;
  }
  
  .Login_Users input:focus ~ label,
  .Login_Users input:valid ~ label {
    top: -15px;
    left: 0;
    font-size: 12px;
    color: #368BC1;
  }
  
  .Login_Users button {
    background-color: #368BC1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
  }
  
  .Login_Users button:hover {
    background-color: #245f80;
  }
