*{
    box-sizing: border-box;
}
body{ 
   margin:0;
   padding: 0;
   width: auto;
   display: flex;
   background-color: #fff;
   font-family: 'Lato',sans-serif;
}

h1{

}

#Alert-h2{
   position: relative; 
   align-self: center;
   text-align: center;
}

#home-icon,#sign-up-icon,#login-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: auto;
    filter: invert(100%);
}
.header_Wrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 ;
    position: fixed;
    top:0;
    left:0;
    z-index: 2;
}

.navigation_header {
    height: 50%;
    background-color: #3882e2 ;
    margin: auto;
    padding: 30px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    z-index: 2;
}
.navigation_header li{
    align-items: end;
    list-style-type:none;
    margin-left: 18px;
}
.list_header{
    height:100px;
    margin: auto;
    background-color: #4579b9;
    display:flex;
    justify-content:space-between;
    align-items: flex-end;
    padding: 20px;
}
.list_header li{
    list-style-type: none;
    margin:0 10px;
    border-style: outset;
    border-width: 10px;
}

.report-result{
    position: relative;
    height: 100%;
    width:100%;
    overflow: hidden;
    display: inline-flex;
    overflow-x:scroll;
    scrollbar-width: none;
}
.Report-class {
    white-space:nowrap;
    height:100%;
    background-color: #4579b941;
    margin: 2em ; 
    padding: 2em ;
    border-radius: 2em;
    margin-top: 1em;
}
.container{
    width: 250px;
    margin:1em;
    padding: auto;
    background-color: azure;
    border-radius: 2em;
}

.post_header{
margin: auto;
padding: auto;
display: flex;
border-bottom-style:groove;
border-bottom-color:#4579b9;
background-color: #ffffff38;
border-radius: 1em;
}

.icon
{
    position: relative;
    display: flex;
    margin: 0.5em;
    padding: 0.5em;
    align-items:center;
}
.icon-logo{
    position: relative;
    height:220%;
    width: 220%;
    margin-left: 3px;
    border-style: double;
    border-radius: 50%;
    border-color: #c7c1c1;
}
.iconType{
    position: relative;
    right:-60px;
    align-items: end;
    font-family: 'Franklin Gothic Medium';
    font-size: 22px;
}

.post_content{
    position:absolute;
    display: contents;
}

.Alert-results{
height: 100%;
width:100%;
margin: 0 auto;
padding: 0 auto;
}

.Alert{
    position:absolute;
    margin: auto;
    padding: auto;
    width:90%;
    background-color: #4970f038;
    border-radius: 10px;
    left:13px;
}
.Alert-Type{
    width:95%;
    padding: 10px;
    margin-left: 1.5%;
    border-radius: 10px;
    border-bottom-style:groove;
    background-color: aliceblue;
}
.Alert-Type ul {
    list-style-type: none;
}

.image-list li:not(:first-child){
display: none;
}

.image-list li img {
    display:block;
    width: 95%;
    height:180px; 
}

.footer_container{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
  }

.about{
    flex: 1 1 300px;
  margin-bottom: 20px;
}

.about h3{
    color: #368BC1;
  margin-bottom: 10px;
  text-align: center;
}

.about p{
    color: #000;
    margin-bottom: 15px;
    text-align: center;
}

.about ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.about ul li{
    display: inline-block;
    margin-right: 10px;
}

.about ul li a {
    color: #368BC1;
    text-decoration: none;
    font-size: 20px;
  }