<html>
  <link rel="stylesheet" type="text/css" href="css\MainStyles.css" />
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization&callback=initMap">
  </script>
  <head>
    <title>Statistics</title>
    <div>
      <div class="header">
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">User</a></li>
            <li><a href="">Statistics</a></li>
            <li><a href="">Log out</a></li>
          </ul>
      </div>
    </div>
  </head>
  <body>
      <div class="search_block">
        <form class="search-filter-form" action="#" method="get">
          <input type="text" name="search" placeholder="Search...">
          <select name="category">
            <option value="">All Categories</option>
            <option value="books">Mugging</option>
            <option value="music">Highjack</option>
            <option value="movies">Break in</option>
          </select>
          <button type="submit">Search</button>
        </form>
      </div>
      <!--
    Stats
  -->
  <div class="sidebar">
    <div class="stats">
      <div class="wrapper">
        <div class="container">
        <i class="image"></i>
        <span class="num" data-val="400">000</span>
        <span class="text">Theft</span>
        </div>
        <div class="container">
          <i class="image"></i>
          <span class="num" data-val="400">000</span>
          <span class="text">Robbery</span>
          </div>
          <div class="container">
            <i class="image"></i>
            <span class="num" data-val="400">000</span>
            <span class="text">HighJacking</span>
            </div>
            <div class="container">
              <i class="image"></i>
              <span class="num" data-val="400">000</span>
              <span class="text">Breaking & Entering</span>
              </div>
             <div class="wrapper">
              <div class="container">
                <i class="image"></i>
                <span class="num" data-val="400">000</span>
                <span class="text">Assault</span>
                </div>
                <div class="container">
                  <i class="image"></i>
                  <span class="num" data-val="400">000</span>
                  <span class="text">Drug related</span>
                  </div>
                  <div class="container">
                    <i class="image"></i>
                    <span class="num" data-val="400">000</span>
                    <span class="text">Attempted Murder</span>
                    </div>
                    <div class="container">
                      <i class="image"></i>
                      <span class="num" data-val="400">000</span>
                      <span class="text">Sexual Offence</span>
                      </div>
             </div>
      </div>
    </div>
  </div>
  <div class="container">
    <!--Map-->
    <div class="container_Center">
      <div class="default_border">
        <center>
          <div class="map">
            <h1>Heat map</h1>
            <div class="mapouter">
            <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <a href="https://123movies-to.org">123 movies</a>
            <br>
            <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style>
            <a href="https://www.embedgooglemap.net">google maps widget html</a>
            <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
            </div>
            </div>
          </div>
        </center>
      </div>
    </div>
  </body>
  </div>
</body>
<footer>
  <div class="container">
    <div class="row">
      <div class="sidebar">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="sidebar">
        <h3>Connect With Us</h3>
        <ul class="">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="sidebar">
        <h3>Contact Us</h3>
        <p>123 Main St.<br>Anytown, USA 12345</p>
        <p>Phone: 555-555-5555<br>Email: info@example.com</p>
      </div>
    </div>
  </div>
</footer>
  
</html>